.c1{
position: absolute;
top: 35%;
right: 40%;
height: 43%;
width: 31%;
background-color: white;
border-style: solid ;
border-width: 4px;
border-color: grey ;
border-radius: 7px;
border-color: #B9E7F0;
padding: 25px;
}
.nombre{
padding-left: 50px;
padding-right: 10px;
}
.password{
padding-left: 24px;
padding-right: 10px;

}
.password2{
padding-left: 25px;
padding-right: 12px;
}
.sobra{
	padding-right: 10px;
}
