.f{
	position: absolute;
	height: 45%;
	width: 25%;
	top: 28%;
	left: 35%;
	border-style: solid;
	border-radius: 5px;
	border-width: 2px;
	border-color: grey;
}
.b{
	padding-left: 115px;


}
.barras{
position: absolute;


}