body{
	background-color: #83DCF6;
}

button{
	background-color: #9CB0EB;
	position: absolute;
	border-width: 1px;
	border-color: black;
	height: 38px;
	width:250px ;
	border-radius: 3px;
	top: 204px;
	left: 13px;
	color: white;
	font-size: 14px;
	text-align: right;
}


hr{
opacity: 0.2;
position: absolute;
top: 65px;
width: 265px;
}
.capa1{
position: absolute;
top: 35%;
right: 40%;
height: 30.5%;
width: 21%;
background-color: white;
border-style: solid ;
border-width: 4px;
border-color: grey ;
border-radius: 7px;
border-color: #B9E7F0;
padding: 16px;
}
.capa2{
position: relative;
height: 50%;
width: 100%;
}
